@media (max-width: 1200px) {
    .main-bg {
        &__image {
            width: 423px;
            height: 423px;
            top: calc(50vh - (423px / 2));
            left: calc(50% - (423px / 2));
        }
    }

    .header {
        .btn {
            &.mobile {
                display: inline-block;
                width: 100%;
                margin-top: 20px;
            }

            &.desktop {
                display: none;
            }
        }

        &__burger {
            display: block;

            path {
                transition: var(--transition);
            }
        }

        &__box {
            position: absolute;
            right: -330px;
            top: 72px;
            width: 100%;
            height: calc(100vh - 82px - 10px);
            max-width: 300px;
            padding: 15px;
            backdrop-filter: blur(5px);
            box-shadow: inset 0 2px 6px hsla(0, 0%, 80%, .9), inset 0 -6px 12px rgba(0, 0, 0, .1), 0 8px 25px rgba(0, 0, 0, .15);
            border-radius: 30px;
            background: var(--bg);
            transition: .3s ease-in-out right;

            &.active {
                right: 0;
            }
        }

        .menu {
            flex-direction: column;
            gap: 0;

            &>.menu-item {
                width: 100%;

                &>a {
                    display: block;
                    width: 100%;
                    padding: 15px 20px;
                    // text-align: center;
                }
            }
        }

        &.active {
            .header__container {
                background: var(--bg);
            }
        }
    }

    .main-hero {
        .container {
            padding-top: 190px;
            gap: 100px;
        }

        &__content {
            grid-template-columns: 1fr;
            gap: 16px;
        }

        &__slide {
            max-width: 267px;
            padding: 24px 16px 33px;
        }
    }

    .main-platform {
        &__top {
            gap: 24px;
            grid-template-columns: 1fr;
        }

        &__bottom {
            grid-template-columns: 1fr;
            gap: 20px;

            img {
                width: 100%;
                max-height: 350px;
                object-fit: cover;
            }
        }

        h2 {
            text-align: center;
        }

        &__buttons {
            max-width: 600px;
        }
    }

    .main-account {
        &__item {
            &.horizontal {
                .main-account__box {
                    gap: 0;
                    grid-template-columns: 1fr;
                }

                .btn-arrow {
                    position: relative;
                    inset: 0;
                }
            }
        }
    }

    .main-start {
        &__box {
            gap: 20px;
            grid-template-columns: 1fr 580px;
        }
    }

    .main-about {
        &__container {
            grid-template-columns: 1fr;
        }

        &__image {
            display: none;
        }

        &__swiper {
            margin-left: -30px;
            margin-right: -30px;
            padding-left: 30px;
            padding-right: 30px;

            .swiper-slide {
                max-width: 240px;
            }
        }
    }

    .footer {
        .glass {
            padding: 48px 16px;
        }

        &__contacts {
            grid-template-columns: 1fr;
            gap: 16px;
        }

        &__address {
            grid-column: initial;
        }
    }
}