@media (max-width: 768px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main-account {
        scroll-margin-top: 80px;

        h2 {
            &+p {
                margin-bottom: 24px;
            }
        }

        &__item {
            padding: 24px 16px;
        }

        &__tag {
            top: 24px;
            right: 13px;
            font-size: 12px;
            padding: 3.5px 23.5px;
        }
    }

    .main-platform {
        scroll-margin-top: 80px;

        &__buttons {
            .swiper-slide {
                max-width: 130px;
                padding: 10px 5px;
                font-size: 14px;
            }
        }

        &__btns {
            align-items: start;
            flex-direction: column;

            .btn {
                width: auto;
            }
        }

        &__bottom {
            margin-top: 24px;
        }

        &__slide {
            padding: 24px 16px;
        }
    }

    .main-start {
        h2 {
            margin-bottom: 24px;
        }

        &__item {
            padding: 16px;
            gap: 24px;
        }
    }

    .main-analytics {
        scroll-margin-top: 80px;

        h2 {
            margin-bottom: 24px;
        }

        &__buttons {
            margin-bottom: 24px;

            .swiper-slide {
                max-width: 150px;
                padding: 10px;
                font-size: 14px;
            }
        }

        &__swiper {
            .swiper-slide {
                padding: 20px 17px;
            }
        }
    }

    .main-about {
        padding-top: 80px;
        padding-bottom: 80px;

        h2 {
            &+p {
                margin-bottom: 24px;
            }
        }

        &__top {
            margin-bottom: 24px;
        }

        &__bottom {
            gap: 24px;
            grid-template-columns: 1fr;
        }

        &__image-bottom {
            order: 1;
            height: 324px;
        }

        &__swiper {
            margin-top: 30px;
            margin-left: -16px;
            margin-right: -16px;
            padding-left: 16px;
            padding-right: 16px;

            .swiper-slide {
                &-box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .glass {
                    max-width: 160px;
                    padding: 16px 6px 6px;
                }
            }
        }
    }

    .main-traders {
        padding-top: 80px;

        h2 {
            &+p {
                margin-bottom: 24px;
            }
        }
    }

    section {
        &:not(.main-analytics, .main-about) {
            margin-bottom: 80px;
        }
    }

    .error-hero {
        padding-top: 190px;
    }

    .main-contacts {
        &__container {
            position: relative;
            padding-top: 50px;
        }

        &__close {
            &--desktop {
                display: none;
            }

            &--mobile {
                display: block;
                position: absolute;
                top: 16px;
                right: 16px;
            }
        }
    }
}