@media (max-width: 992px) {
    .main-account {
        &__list {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }

        &__item {
            grid-column: initial;

            &.horizontal {
                grid-column: initial;
            }
        }
    }
}