@media (max-width: 992px) {
    .main-account {
        &__list {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }

        &__item {
            grid-column: initial;

            &.horizontal {
                grid-column: initial;
            }
        }
    }

    .main-start {
        &__box {
            grid-template-columns: 1fr;
        }

        &__image {
            order: 1;
            height: 320px;
        }
    }
}