@media (min-width: 1200px) {
    .btn {
        &:hover {
            &::before {
                opacity: 1;
            }

            svg {
                transform: rotate(45deg);

                path {
                    fill: var(--hover);
                }
            }
        }
    }

    .main-platform {
        &__buttons {
            .swiper-slide {
                &:hover {
                    color: var(--hover);
                }

                &-thumb-active {
                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }
    }

    .main-analytics {
        &__buttons {
            .swiper-slide {
                &:hover {
                    color: var(--hover);
                }

                &-thumb-active {
                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }
    }

    .header {
        .menu {
            &>.menu-item {
                &>a {
                    &:hover {
                        color: var(--hover);
                    }
                }
            }
        }

        &__logo {
            &:hover {
                path {
                    fill: var(--hover);
                }
            }
        }

        &__lang {
            &:hover {
                .header__lang--active {
                    &::before {
                        opacity: 1;
                    }

                    svg {
                        transform: rotate(180deg);
                    }
                }

                .header__lang--other {
                    opacity: 1;
                    visibility: visible;

                    a {
                        &:hover {
                            color: var(--hover);

                            svg {
                                outline-color: var(--hover);
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        .menu {
            &>.menu-item {
                &>a {
                    &:hover {
                        color: var(--hover);
                    }
                }
            }
        }

        &__docs {
            a {
                &:hover {
                    color: var(--hover);
                }
            }
        }

        &__contact {
            &:hover {
                color: var(--hover);

                svg {
                    path {
                        stroke: var(--hover)
                    }
                }
            }
        }
    }

    .btn-arrow {
        &:hover {
            transform: rotate(45deg);

            &::before {
                opacity: 1;
            }
        }
    }

    .main-contacts {
        &__close {
            &--desktop {
                &:hover {
                    path {
                        fill: var(--hover);
                    }
                }
            }
        }
    }

    .upButton {
        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
}