@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle';
@import '../scss/keyframes';

:root {
    --bg: #0A0C12;
    --bege-cards: #E4E4E4;
    --black-text: #0B0D14;
    --grey-text: #727272;
    --gradient-bg: linear-gradient(137.91deg, #0A0C12 19.85%, #0E2155 123.66%);
    --white: #FFFFFF;
    --transition: .3s ease-in-out all;
    --hover: #0D47A1;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background: var(--bg);
    color: var(--white);

    &.preload {
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    &::-webkit-scrollbar:horizontal {
        display: none;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--bege-cards) var(--bg); // 1й цвет бугунка скролла, 2й фоновый цвет скролла

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--bg); // фоновый цвет скролла
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--bege-cards); // цвет бегунка скролла
        border-radius: 5px;
        border: 3px solid var(--bg); // фоновый цвет скролла
    }
}

button {
    border: none;
    cursor: pointer;
}

.upButton {
    z-index: 1000;
    position: fixed;
    width: 40px;
    height: 40px;
    padding: 10px;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0);
    pointer-events: none;
    background: radial-gradient(117.75% 117.75% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
    border-radius: 50px;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.2));

    &::before {
        position: absolute;
        content: '';
        inset: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(51.35% 51.3% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
        border-radius: 50px;
        opacity: 0;
        transition: .3s ease-in-out opacity;
    }

    &.show {
        transition: all 1s ease-in-out;
        transform: scale(1);
        pointer-events: all;
    }

    svg {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.cookies {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 40px;
    left: 40px;
    right: 40px;
    margin-left: auto;
    max-width: 450px;
    gap: 20px;
    align-items: start;
    background: #333333;
    padding: 25px;
    border-radius: 5px;
    color: var(--white);

    p {
        font-size: 16px;
    }

    a {
        color: var(--white);
    }

    .btn {
        margin-top: 10px;
        padding: 10px 30px;
        font-size: 14px;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &__right-btns {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__lang {
        position: relative;

        &--mobile {
            display: none;
        }

        &--active {
            position: relative;
            display: inline-flex;
            align-items: center;
            gap: 6px;
            padding: 16.5px 10px;
            font-size: 18px;
            line-height: 150%;
            font-weight: 300;
            color: var(--white);
            background: radial-gradient(117.75% 117.75% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
            white-space: nowrap;
            border-radius: 50px;
            text-align: center;
            text-transform: uppercase;

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background: radial-gradient(51.35% 51.3% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
                border-radius: 50px;
                opacity: 0;
                transition: .3s ease-in-out opacity;
            }

            span {
                position: relative;
            }

            svg {
                transition: .3s ease-in-out transform;
            }
        }

        &--other {
            position: absolute;
            top: calc(100% + 10px);
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            padding: 10px 10px;
            border-radius: 20px;
            background: var(--bege-cards);

            opacity: 0;
            visibility: hidden;

            transition:
                .3s ease-in-out visibility,
                .3s ease-in-out opacity;

            &>a,
            &>div {
                display: inline grid;
                grid-template-columns: 20px 1fr;
                gap: 6px;
                align-items: center;
                text-transform: uppercase;
                text-decoration: none;
                color: var(--black-text);
                font-size: 18px;
                line-height: 150%;
                font-weight: 300;
                transition: .3s ease-in-out color;

                &.active {
                    opacity: 0.5;
                }

                svg {
                    border-radius: 50px;
                    outline: 1px solid transparent;
                    transition: .3s ease-in-out outline-color;
                }
            }

            &::before {
                z-index: -1;
                content: '';
                position: absolute;
                top: -50px;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .container {
        padding-top: 10px;
    }

    &__container {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border-radius: 50px;
        transition: .3s ease-in-out background;
    }

    &__burger {
        display: none;
        cursor: pointer;

        .burger-line {
            transform-origin: center;
        }

        &.active {
            .top {
                transform: translate(-3px, 4px) rotate(45deg);
            }

            .middle {
                opacity: 0;
            }

            .bottom {
                transform: translate(-3px, -3px) rotate(-45deg);
            }

            path {
                fill: var(--white);
            }
        }
    }

    .menu {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        &>.menu-item {
            list-style: none;

            &>a {
                color: var(--white);
                text-decoration: none;
                transition: .3s ease-in-out color;
            }
        }
    }

    &__logo {
        cursor: pointer;

        path {
            transition: .3s ease-in-out fill;
        }
    }

    .btn {
        &.mobile {
            display: none;
        }
    }
}

.container {
    max-width: calc(1180px + 30px + 30px); // ширина самого контейнера + боковые паддинги
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

img {
    max-width: 100%;
}

address {
    font-style: initial;
}

.main-banner {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    h2 {
        max-width: 638px;
        text-align: center;
    }
}

.main-bg {
    position: relative;

    &__gradient-1 {
        position: absolute;
        top: -402px;
        right: calc(50% + 223px);
        content: '';
        width: 1149px;
        height: 1149px;
        background: radial-gradient(50% 50% at 50% 50%, #0F286D 0%, #0A0C12 100%);
    }

    &__gradient-2 {
        position: absolute;
        top: -160px;
        left: calc(50% + 180px);
        content: '';
        width: 1579px;
        height: 1579px;
        background: radial-gradient(50% 50% at 50% 50%, #0F286D 0%, #0A0C12 100%);
    }

    &__image {
        content: '';
        position: fixed;
        top: calc(50vh - (763px / 2));
        left: calc(50% - (763px / 2));
        width: 763px;
        height: 763px;
        background: url(../images/bg-image.avif) center / contain no-repeat;
    }
}

.footer {
    margin-top: -454px;
    padding-top: 454px;
    padding-bottom: 20px;
    background: linear-gradient(180deg, #0A0C12 0%, #0E2155 100%);

    .glass {
        padding: 60px 48px 48px;
        border-radius: 10px;
    }

    &__container {
        display: flex;
        gap: 20px;
        align-items: start;
        justify-content: space-between;
    }

    &__contacts {
        display: grid;
        column-gap: 73px;
        row-gap: 24px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 30px;
    }

    &__contact {
        display: inline-grid;
        align-items: center;
        gap: 10px;
        grid-template-columns: 20px 1fr;
        color: var(--white);
        text-decoration: none;
        transition: .3s ease-in-out color;

        svg {
            path {
                transition: .3s ease-in-out stroke;
            }
        }
    }

    &__address {
        grid-column: span 2;
        display: inline-grid;
        align-items: center;
        gap: 10px;
        grid-template-columns: 20px 1fr;
    }

    &__docs {
        display: grid;
        gap: 8px;

        a {
            color: var(--white);
            text-decoration: none;
            transition: .3s ease-in-out color;
        }
    }

    &__right {
        display: flex;
        gap: 77px;
    }

    &__notice {
        margin-top: 56px;
        text-align: center;
    }

    &__copyright {
        margin-top: 10px;
        text-align: center;
    }

    .menu {
        display: grid;
        gap: 8px;

        &>.menu-item {
            list-style: none;

            &>a {
                color: var(--white);
                text-decoration: none;
                transition: .3s ease-in-out color;
            }
        }
    }
}

.btn {
    position: relative;
    display: inline-block;
    padding: 16.5px 93px 16.5px 60px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 300;
    color: var(--white);
    background: radial-gradient(117.75% 117.75% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
    white-space: nowrap;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;

    span {
        position: relative;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(51.35% 51.3% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
        border-radius: 50px;
        opacity: 0;
        transition: .3s ease-in-out opacity;
    }

    svg {
        position: absolute;
        inset: 2px 2px 2px auto;
        width: 56px;
        height: 56px;
        padding: 10px;
        border-radius: 50px;
        background: var(--white);
        transition: .3s ease-in-out transform;

        path {
            transition: .3s ease-in-out fill;
        }
    }
}

.main-hero {
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 144px;
        padding-top: 250px;
    }

    &__content {
        display: grid;
        gap: 40px;
        grid-template-columns: 617px 480px;
    }

    &__box {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: start;
    }

    &__swiper {
        overflow: visible;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
        align-items: start;
        max-width: 280px;
        height: initial;
        padding: 24px 16px;
        border-radius: 10px;

        h3 {
            margin-bottom: 10px;
        }
    }
}

h1,
.h1 {
    margin: 0;
    font-family: 'Crimson';
    font-size: clamp(36px, 8vw, 64px);
    font-weight: bold;
    line-height: 120%;
}

h2,
.h2 {
    margin: 0;
    font-family: 'Crimson';
    font-size: clamp(24px, 6vw, 46px);
    line-height: 120%;
    font-weight: 700;
}

h3,
.h3 {
    margin: 0;
    font-family: 'Crimson';
    font-size: clamp(18px, 4vw, 24px);
    line-height: 140%;
    font-weight: 400;
}

.textm {
    font-family: 'inter';
    font-weight: 300;
    font-size: clamp(16px, 3vw, 18px);
    line-height: 150%;
}

.texts {
    font-family: 'inter';
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
}

.textxs {
    font-family: 'inter';
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
}

.glass {
    backdrop-filter: blur(5px);
    box-shadow: inset 0 2px 6px hsla(0, 0%, 80%, .9), inset 0 -6px 12px rgba(0, 0, 0, .1), 0 8px 25px rgba(0, 0, 0, .15);
}

section {
    &:not(.main-analytics, .main-about) {
        margin-bottom: 130px;
    }
}

.main-platform {
    scroll-margin-top: 130px;

    &__top {
        display: grid;
        grid-template-columns: 1fr 576px;
    }

    &__bottom {
        display: grid;
        grid-template-columns: 580px 1fr;
        gap: 120px;
        margin-top: 48px;

        img {
            border-radius: 10px;
        }
    }

    &__swiper {
        width: 100%;
        border-radius: 10px;
    }

    &__slide {
        height: initial;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
        padding: 48px 32px;
        background: var(--bege-cards);
        border-radius: 10px;

        h3 {
            margin-bottom: 16px;
            color: var(--black-text);
        }

        p {
            margin-bottom: 16px;
            color: var(--black-text);
        }

        ul {
            display: grid;
            gap: 10px;
            color: var(--grey-text);
            padding-left: 20px;
        }
    }

    &__btns {
        width: 100%;
        display: flex;
        gap: 10px;

        .btn {
            width: 100%;
            padding-left: 20px;
            padding-right: 68px;
        }
    }

    &__buttons {
        width: 100%;
        border-radius: 50px;
        background: var(--bege-cards);
        border: 2px solid var(--bege-cards);

        .swiper-slide {
            position: relative;
            padding: 16px 20px;
            color: var(--grey-text);
            white-space: nowrap;
            text-align: center;
            transition: .3s ease-in-out color;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                content: '';
                z-index: -1;
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background: radial-gradient(117.75% 117.75% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
                border-radius: 50px;
                opacity: 0;
                transition: .3s ease-in-out opacity;
            }

            &-thumb-active {
                background: radial-gradient(117.75% 117.75% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
                color: var(--white);
                border-radius: 50px;

                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

.main-account {
    scroll-margin-top: 130px;

    h2 {
        margin-bottom: 16px;
        text-align: center;

        &+p {
            max-width: 714px;
            margin: 0 auto 48px;
            text-align: center;
        }
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(6, 1fr);
    }

    &__item {
        grid-column: span 2;
        min-height: 437px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
        padding: 32px 24px;
        background: var(--bege-cards);
        border-radius: 10px;

        h3 {
            margin-bottom: 24px;
            color: var(--black-text);
        }

        ul {
            display: grid;
            gap: 10px;
            padding-left: 20px;
            color: var(--grey-text);
        }

        &.horizontal {
            min-height: 322px;
            position: relative;
            grid-column: span 3;

            .main-account__box {
                display: grid;
                gap: 73px;
                grid-template-columns: 150px 1fr;
            }

            .btn-arrow {
                position: absolute;
                left: 24px;
                bottom: 32px;
            }
        }

        &.pro {
            position: relative;
            background: radial-gradient(202.97% 202.97% at 50% 34.21%, #FFFFFF 0%, #000058 100%);
        }
    }

    &__tag {
        position: absolute;
        top: 32px;
        right: 24px;
        padding: 5px 16.5px;
        font-family: 'inter';
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: var(--grey-text);
        border-radius: 50px;
        cursor: pointer;
    }
}

.btn-arrow {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: radial-gradient(117.75% 117.75% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
    border-radius: 50px;
    transition: .3s ease-in-out transform;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background: radial-gradient(51.35% 51.3% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
        opacity: 0;
        transition: .3s ease-in-out opacity;
    }

    svg {
        position: relative;
    }
}

.main-start {
    h2 {
        margin-bottom: 48px;
        text-align: center;
    }

    h3 {
        margin-bottom: 10px;
    }

    &__box {
        display: grid;
        grid-template-columns: 480px 1fr;
        gap: 120px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 21px;
        align-items: start;
        justify-content: space-between;
        padding: 24px 16px 16px;
        border-radius: 10px;
        background: var(--bege-cards);

        h3 {
            color: var(--black-text);
        }

        p {
            color: var(--grey-text);
        }
    }

    &__step {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 20px;
        font-family: 'inter';
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: var(--grey-text);
        border-radius: 50px;
    }

    &__bottom {
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
}

.widget-box {
    width: 100%;
    height: 500px;
}

.main-analytics {
    scroll-margin-top: 130px;

    h2 {
        max-width: 738px;
        text-align: center;
        margin: 0 auto 48px;
    }

    &__buttons {
        max-width: 660px;
        width: 100%;
        margin-bottom: 50px;
        border-radius: 50px;
        background: var(--bege-cards);
        border: 2px solid var(--bege-cards);

        .swiper-slide {
            position: relative;
            padding: 16px 10px;
            color: var(--grey-text);
            white-space: nowrap;
            text-align: center;
            transition: .3s ease-in-out color;
            cursor: pointer;

            &::before {
                content: '';
                z-index: -1;
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background: radial-gradient(117.75% 117.75% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
                border-radius: 50px;
                opacity: 0;
                transition: .3s ease-in-out opacity;
            }

            &-thumb-active {
                background: radial-gradient(117.75% 117.75% at 50% 50%, #0A0C12 0%, #0D47A1 100%);
                color: var(--white);
                border-radius: 50px;

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__swiper {
        .swiper-slide {
            padding: 20px;
            background: var(--bege-cards);
            border-radius: 10px;
        }
    }
}

.main-about {
    padding-top: 130px;
    padding-bottom: 130px;

    background:
        linear-gradient(180deg, rgba(10, 12, 18, 0.7) 5%, rgba(10, 12, 18, 0) 100%) left top / 100% 200px no-repeat,
        linear-gradient(0deg, rgba(10, 12, 18, 0.7) 5%, rgba(10, 12, 18, 0) 100%) left bottom / 100% 200px no-repeat,
        linear-gradient(137.91deg, rgba(10, 12, 18, 0.7) 19.85%, rgba(14, 33, 85, 0.7) 123.66%);

    h2 {
        margin-bottom: 16px;
        text-align: center;

        &+p {
            max-width: 844px;
            margin: 0 auto 48px;
            text-align: center;
        }
    }

    &__container {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 280px;
    }

    &__image {
        border-radius: 10px;

        &-bottom {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top right;
            border-radius: 10px;
        }
    }

    h3 {
        margin-bottom: 10px;
    }

    &__top {
        margin-bottom: 60px;
    }

    &__bottom {
        display: grid;
        grid-template-columns: 278px 1fr;
        gap: 52px;
    }

    ul {
        display: grid;
        gap: 10px;
        padding-left: 20px;
    }

    &__swiper {
        margin-top: 100px;

        h2 {
            margin: 0;
        }

        .swiper-slide {
            height: initial;

            &-box {
                position: relative;
                padding: 140px 38px 70px;
            }

            .square {
                position: absolute;
                top: 16px;
                left: calc(50% - 5px);
                width: 10px;
                height: 10px;
                background: #0D47A1;
            }

            .line-1 {
                position: absolute;
                top: 75px;
                left: 0;
                width: 1px;
                height: calc(100% - 75px - 25px);
                background: #ACACAC;
            }

            .line-2 {
                position: absolute;
                top: 100px;
                left: 59px;
                width: 1px;
                height: calc(100% - 100px - 50px);
                background: #ACACAC;
            }

            .line-3 {
                position: absolute;
                top: 50px;
                left: calc(50% - 0.5px);
                width: 1px;
                height: calc(100% - 50px);
                background: var(--white);
            }

            .line-4 {
                position: absolute;
                top: 100px;
                right: 59px;
                width: 1px;
                height: calc(100% - 100px - 50px);
                background: #ACACAC;
            }

            .line-5 {
                position: absolute;
                top: 75px;
                right: 0;
                width: 1px;
                height: calc(100% - 75px - 25px);
                background: #ACACAC;
            }

            .glass {
                min-height: 192px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                padding: 16px 8px 8px;
                border-radius: 10px;
                text-align: center;
                font-family: 'inter';
                font-weight: 300;
                font-size: 12px;
                line-height: 150%;
            }
        }
    }
}

.main-traders {
    padding-top: 130px;
    background: linear-gradient(0deg, rgba(10, 12, 18, 0) 0%, rgba(10, 12, 18, 1) 100%) left top / 100% 130px no-repeat;

    h2 {
        margin-bottom: 16px;
        text-align: center;

        &+p {
            margin-bottom: 48px;
            text-align: center;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;
    }

    &__item {
        display: flex;
        gap: 48px;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 24px 16px 16px;
        border-radius: 10px;
        background: var(--bege-cards);

        p {
            padding: 0 0 8px 20px;
            color: var(--black-text);
            border-left: 1px solid var(--black-text);
        }
    }

    &__author {
        width: 100%;
        display: grid;
        gap: 10px;
        grid-template-columns: 30px 1fr;
        align-items: center;
    }

    &__name {
        font-family: 'inter';
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: var(--grey-text);
    }
}

.main-contacts {
    z-index: 1000;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgb(26 26 26 / 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition:
        .3s ease-in-out opacity,
        .3s ease-in-out visibility;

    overflow-y: auto;

    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &.show {
        opacity: 1 !important;
        visibility: visible;

        .main-contacts__container {
            transform: none;
        }
    }

    &__close {
        &--desktop {
            position: absolute;
            top: 36px;
            right: 66px;
            cursor: pointer;

            path {
                transition: .3s ease-in-out fill;
            }
        }

        &--mobile {
            display: none;
        }
    }

    &__container {
        max-width: 500px;
        padding: 24px;
        background: var(--bege-cards);
        border-radius: 10px;
        transform: translateY(100vh);
        transition: .3s ease-in-out transform;
    }

    h2 {
        margin-bottom: 16px;
        color: var(--black-text);
        text-align: center;
        font-size: clamp(24px, 6vw, 30px);

        &+p {
            color: var(--black-text);
            text-align: center;
        }
    }

    form {
        // margin-top: 48px;
        margin-top: 24px;

        input {
            width: 100%;
            margin-bottom: 20px;
            padding: 10px 15px;
            margin-top: 10px;
            background: #D8D8D8;
            border: 1px solid #9E9E9E;
            border-radius: 10px;
        }

        textarea {
            min-height: 115px;
            padding: 15px 20px;
            width: 100%;
            margin-top: 10px;
            background: #D8D8D8;
            border: 1px solid #9E9E9E;
            border-radius: 10px;
            resize: none;
        }

        p {
            color: var(--grey-text);
        }
    }
}

.wpcf7-acceptance {
    display: block;
    margin: 15px 0 20px;

    label {
        position: relative;
        display: inline-flex;
        gap: 20px;
        align-items: center;
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid #9E9E9E;
            background: #D8D8D8;
            box-sizing: border-box;
            flex: 0 0 auto;
        }

        input {
            &[type='checkbox'] {
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }

            &+span {
                &::before {
                    content: '';
                    position: absolute;
                    top: calc(50% - 15px);
                    left: 0;
                    width: 30px;
                    height: 30px;
                    background: #D8D8D8 url(../images/checked.svg) center / 30px no-repeat;
                    border: 1px solid #9E9E9E;
                    border-radius: 5px;
                    box-sizing: border-box;
                    opacity: 0;
                    transition: .3s ease-in-out opacity;
                }
            }

            &:checked {
                &+span {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }

        span {
            font-weight: 300;
            font-size: 18px;
            line-height: 140%;
            color: var(--brown-light-text);
        }
    }
}

.error-hero {
    min-height: calc(100vh - 442px - 130px);
    padding-top: 250px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        margin-bottom: 16px;
        text-align: center;

        &+p {
            margin-bottom: 24px;
            text-align: center;
        }
    }
}

@import '../scss/hovers';
@import '../scss/1800';
@import '../scss/1700';
@import '../scss/1600';
@import '../scss/1500';
@import '../scss/1400';
@import '../scss/1300';
@import '../scss/1200';
@import '../scss/1024';
@import '../scss/992';
@import '../scss/900';
@import '../scss/768';
@import '../scss/700';
@import '../scss/600';
@import '../scss/500';
@import '../scss/360';