<footer class="footer">
    <div class="container">
        <div class="glass">
            <div class="footer__container">
                <div class="footer__left">
                    <div class="footer__contacts">
                        <a class="footer__contact texts" href="tel:+44 2513070330">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_61_1761)">
                                    <path d="M4.16667 3.3335H7.5L9.16667 7.50016L7.08333 8.75016C7.9758 10.5598 9.44039 12.0244 11.25 12.9168L12.5 10.8335L16.6667 12.5002V15.8335C16.6667 16.2755 16.4911 16.6994 16.1785 17.012C15.866 17.3246 15.442 17.5002 15 17.5002C11.7494 17.3026 8.68346 15.9222 6.38069 13.6195C4.07792 11.3167 2.69754 8.25078 2.5 5.00016C2.5 4.55814 2.67559 4.13421 2.98816 3.82165C3.30072 3.50909 3.72464 3.3335 4.16667 3.3335Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M12.5 5.8335C12.942 5.8335 13.366 6.00909 13.6785 6.32165C13.9911 6.63421 14.1667 7.05814 14.1667 7.50016" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M12.5 2.5C13.8261 2.5 15.0979 3.02678 16.0355 3.96447C16.9732 4.90215 17.5 6.17392 17.5 7.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_61_1761">
                                        <rect width="20" height="20" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            +44 2513070330
                        </a>

                        <a class="footer__contact texts" href="mailto:info@vectormarkets.com">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_61_1764)">
                                    <path d="M2.5 5.83317C2.5 5.39114 2.67559 4.96722 2.98816 4.65466C3.30072 4.3421 3.72464 4.1665 4.16667 4.1665H15.8333C16.2754 4.1665 16.6993 4.3421 17.0118 4.65466C17.3244 4.96722 17.5 5.39114 17.5 5.83317V14.1665C17.5 14.6085 17.3244 15.0325 17.0118 15.345C16.6993 15.6576 16.2754 15.8332 15.8333 15.8332H4.16667C3.72464 15.8332 3.30072 15.6576 2.98816 15.345C2.67559 15.0325 2.5 14.6085 2.5 14.1665V5.83317Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2.5 5.8335L10 10.8335L17.5 5.8335" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_61_1764">
                                        <rect width="20" height="20" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            info@vectormarkets.com
                        </a>

                        <address class="footer__address texts">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_61_1767)">
                                    <path d="M7.5 9.1665C7.5 9.82955 7.76339 10.4654 8.23223 10.9343C8.70107 11.4031 9.33696 11.6665 10 11.6665C10.663 11.6665 11.2989 11.4031 11.7678 10.9343C12.2366 10.4654 12.5 9.82955 12.5 9.1665C12.5 8.50346 12.2366 7.86758 11.7678 7.39874C11.2989 6.9299 10.663 6.6665 10 6.6665C9.33696 6.6665 8.70107 6.9299 8.23223 7.39874C7.76339 7.86758 7.5 8.50346 7.5 9.1665Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M14.7142 13.8806L11.1783 17.4164C10.8658 17.7286 10.4422 17.904 10.0004 17.904C9.55868 17.904 9.13501 17.7286 8.8225 17.4164L5.28583 13.8806C4.35352 12.9482 3.71861 11.7603 3.4614 10.4671C3.2042 9.17394 3.33624 7.83352 3.84083 6.61536C4.34543 5.39721 5.19991 4.35604 6.29623 3.62351C7.39255 2.89098 8.68147 2.5 10 2.5C11.3185 2.5 12.6074 2.89098 13.7038 3.62351C14.8001 4.35604 15.6546 5.39721 16.1592 6.61536C16.6638 7.83352 16.7958 9.17394 16.5386 10.4671C16.2814 11.7603 15.6465 12.9482 14.7142 13.8806Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_61_1767">
                                        <rect width="20" height="20" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            Tottenham Ct Rd, London W1T 7PZ, United Kingdom
                        </address>
                    </div>

                    <a href="#" class="btn">
                        <span>Write to us</span>
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 10.5C12 9.67157 12.6716 9 13.5 9L25.5 9C26.3284 9 27 9.67157 27 10.5V22.5C27 23.3284 26.3284 24 25.5 24C24.6716 24 24 23.3284 24 22.5V14.1213L11.5607 26.5607C10.9749 27.1464 10.0251 27.1464 9.43934 26.5607C8.85355 25.9749 8.85355 25.0251 9.43934 24.4393L21.8787 12L13.5 12C12.6716 12 12 11.3284 12 10.5Z" fill="#0B0D14" />
                        </svg>
                    </a>
                </div>

                <div class="footer__right">
                    @@include('menu.html')

                    <div class="footer__docs">
                        <a href="##">AML Policy</a>
                        <a href="##">KYC Policy</a>
                        <a href="##">Client Agreement</a>
                        <a href="##">Refund Policy</a>
                        <a href="##">Risk Disclosure Notice</a>
                    </div>
                </div>
            </div>

            <p class="textxs footer__notice">Risk Notice: Investing in high risk groups (Forex) and CFD trading are high risk speculative operations that are not suitable for every investor. You can suffer both partial and total losses of the invested funds, so we advise you not to invest capital that you cannot risk. You should be aware of the high risk associated with the use of leverage. We strongly recommend that you carefully read the terms and conditions of our company before using our services.</p>

            <p class="textxs footer__copyright">© 2026. All rights reserved. Vector Markets</p>
        </div>
    </div>
</footer>

<svg class="upButton" width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#fff">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 18V2m0 0 7 7m-7-7L3 9" />
</svg>

<div class="cookies">
    <p class="cookies__info">Мы используем файлы cookie, чтобы больше узнать о том, как вы пользуетесь нашим сайтом, и что мы можем улучшить.</p>
    <button class="btn cookies--close">Принять</button>
</div>

<script defer src="js/main.min.js"></script>

</body>

</html>